.box1{width: 100px;
	height: 100px;
	background-color: #d1ebff;

	transition-property :background-color;
	transition-duration: 2s;
	float:left;
}
.box1:hover {
	background-color: #9fe0f7}

.box2{width: 100px;
	height: 100px;
	background-color: #9fe0f7;

	transition-property :transform;
	transition-duration: 2s;
	float:left;
}
.box2:hover{transform: rotate(360deg);}

.box3{width: 100px;
	height: 100px;
	background-color: #83c4e1;

	transition-property :all;
	transition-duration: 2s;
	float:left;
}
.box3:hover{transform: rotate(360deg);
			background-color: #708da6}

.box4{width: 100px;
	height: 100px;
	background-color: #708da6;

	transition-property :all;
	transition-duration: 1s;
	float:left;
	transform:scale(1, 1); 
}
.box4:hover{transform: rotate(180deg);
			background-color: #5b7e8c;
			transform:scale(0, 0);}

.box5{width: 100px;
	height: 100px;
	background-color: #5b7e8c;

	transition-property :all;
	transition-duration: 1s;
	float:left;
	transform:scale(1, 1); 

	animation: opacitytozero;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

.box5:hover{
	transform: rotate(180deg);
	transform:scale(0.8, 0.8);
	animation-play-state: running;}

@keyframes opacitytozero{
	0% {
		opacity: 1
	}
	
	100%{
		opacity: 0
	}
}

.box6{
	margin-top: 50px;
	width: 100px;
	height: 100px;
	background-color: #6cb8ae;
	float:left;

	animation-name: minjeongs;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-webkit-keyframes minjeongs{
	0%{transform: rotate(0deg) scale(1,1) skewY(0deg);}
	50%{transform: rotate(360deg) scale(1.1,1.1) skewY(30deg);}
	100%{transform: rotate(360deg) scale(1,1) skewY(0deg);}
}